
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: lightblue;
}

.hasan {
    margin-top: 100px; 
}
.hasan h1 {
    margin-bottom: 50px;
    font-style: italic;
}

.hasan p {
    color: red !important;
}